<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- id is the name of the package on the nuget repository. -->
  <!-- version is not optional, but if you just specify a number it acts as a minimum version, so it will grab updated versions automatically -->
  <package id="FParsec" version="1.0.1" />
</packages>